@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

*{
    margin: 0;
    padding: 0;
}

    body{
    background-color: rgb(251, 253, 255);
    color: aliceblue;
    text-align: center;
    font-family: Satisfy, Arial, Helvetica, sans-serif;
}
main{
    background-color:rgba(134, 146, 170, 0.517);
    display: inline-block;
    width: 80vw;
    height: 450vh;
    left: 50%;
    border-radius: 20px;
    margin-top: 50px;

 
}
nav{
    background-color: black;
    border: 0px solid black;
    width: auto;
    height: 100px;
    
    
    
    
    

    

}

div{
    display: inline-block;
    left: 50%;
    width:300px;
    height:350px;
    background-color:rgb(17, 18, 19);
    margin-top: 40px;
    color: rgb(248, 244, 244);
    border-radius: 0px 40px 0px 20px;
    

}
header{
     background-color: black;
     
     
}
img{
    width:300px ;
    height: 300px;

}
#titulo{
    color: rgba(219, 219, 37, 0.834);
    font-size: 3em;
    
}
#logo{
    width: 300px;
    height: 300px;

}
footer{
    background-color: rgba(16, 15, 15, 0.352);
    color: black;
    font-size:2em;
    height: 300px;
     padding-top: 10px;
    margin-top: 20px;
    
    
    
}
a{
    text-decoration: none;
    color: white;


    

}

a:hover{
color: rgb(229, 241, 10);

}

a:active{
    color:rgb(15, 15, 1) ;
}
